{% extends 'base.html' %}


{% block content %}

<p><a href="{% url 'books:home' %}">Home Page</a></p>

<div class="input-group mb-3">
<form action="{% url 'books:search-book' %}" method="GET">
    <span class="input-group-text" id="basic-addon1">Search for text in titles, authors, languages</span>
    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="titles, authors, languages"/>
    <input type="submit" name="submit" value="Search"/>
</form>
</div>
<h5>or</h5>
<br>
<div class="input-group">
  <div class="input-group-prepend">
<form action="{% url 'books:search-book' %}" method="GET">
    <span class="input-group-text">Search for dates range</span>
    <input type="text" class="form-control"  name="date_from" value="{{ request.GET.date_from }}" placeholder="date from">
    <input type="text" class="form-control" name="date_to" value="{{ request.GET.date_to }}" placeholder="date to">
    <input type="submit" class="form-control" name="submit" value="Search"/>
</form>
  </div>
</div>

{% if results %}
    <br/><br/>
    <table class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Published Date</th>
            <th>ISBN Number</th>
            <th>Page Count</th>
            <th>Language</th>
            <th>Cover</th>
        </tr>
        </thead>
    {% for result in results %}
        <tr>
            <td class="text-center">{{ result.title }}</td>
            <td class="text-center">{{ result.authors }}</td>
            <td class="text-center">{{ result.published_date }}</td>
            <td class="text-center">{{ result.ISBN_number }}</td>
            <td class="text-center">{{ result.page_count }}</td>
            <td class="text-center">{{ result.language }}</td>
            <td class="text-center"><img src="{{ result.thumbnail }}" width="100" height="120"/></td>
            <td class="text-center"><a href="{% url 'books:edit-book' result.pk %}">Edit</a></td>
            <td class="text-center"><a href="{% url 'books:delete-book' result.id %}">Delete</a></td>
        </tr>
    {% endfor %}
{% else %}
        <p>No products matched your search criteria.</p>
    </table>
{% endif %}

{% endblock %}
