{% extends 'base.html' %}


{% block content %}

<p><a href="{% url 'books:home' %}">Home Page</a></p>
<form method="GET">
    <h5>Search</h5> <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search"/>
    <input type="submit" name="submit" value="Search"/>
</form>
<h5>or</h5>
<form action="{% url 'books:search-book' %}" method="GET">
    <h5>Search dates</h5> <input type="text" name="date_from" value="{{ request.GET.date_from }}" placeholder="date from">
    <input type="text"  name="date_to" value="{{ request.GET.date_to }}" placeholder="date to">
    <input type="submit" name="submit" value="Search"/>
</form>

{% if results %}
    <br/><br/>
    <table style="width:100%">
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Published Date</th>
            <th>ISBN Number</th>
            <th>Page Count</th>
            <th>Language</th>
            <th>Cover</th>
        </tr>
    {% for result in results %}
        <tr>
            <th>{{ result.title }}</th>
            <th>{{ result.authors }}</th>
            <th>{{ result.published_date }}</th>
            <th>{{ result.ISBN_number }}</th>
            <th>{{ result.page_count }}</th>
            <th>{{ result.language }}</th>
            <th><img src="{{ result.thumbnail }}" width="100" height="120"/></th>
            <th><a href="{% url 'books:edit-book' result.pk %}">Edit</a></th>
            <th><a href="{% url 'books:delete-book' result.id %}">Delete</a></th>
        </tr>
    {% endfor %}
{% else %}
        <p>No products matched your search criteria.</p>
    </table>
{% endif %}

{% endblock %}
